
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://cdn.andro4all.com/andro4all/2020/08/Leer-codigos-QR-bares.jpg);">
  <div class="container ">
    <h1><strong>RestaurantQr</strong></h1>
    <p>Create your menu, we'll qrize it </p>
    <%= link_to "Start", new_user_session_path, style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>

  </div>
</div>
