.card-spot {
	background-color: white;
	box-shadow: 2px 2px 3px #cdcdcd;
	border-radius: 5px;
	height: 200px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 20px;
	margin-bottom: 20px;
}

.card-spot-name {
	color: black;
	font-weight: bold;

	position: relative;
	left: -49px;
	top: -18px;
	font-size: 22px;
}
.card-spot-location {
	position: relative;
	left: -49px;
	font-size: 12px;
	font-weight: 100;
}

.bottom-card-spot {
	background-color: #fcaf3f;
	color: white;
	padding: 5px;
	border-radius: 10px;
}

.filtros {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0px;
	h6 {
		background-color: #fcb03fa2;
		color: white;
		border-radius: 10px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.filtros {
	h6:hover {
		box-shadow: 2px 2px 3px rgba(104, 104, 104, 0.726);
	}
}

.show-card {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.fondo-show-restaurant {
	background-image: linear-gradient(rgba(255, 255, 255, 0.411), rgba(255, 255, 255, 0.411)), url("https://res.cloudinary.com/ddlmgs04n/image/upload/a_90/v1634837051/Fish%20up/rm283-nunny-450-f_zcedsw.jpg");
	background-size: 700px;
	width: 100%;
	height: 90vh;
}
// this is code for the cards displaying spots in index view
.spot-card {
	width: 100%;
	border-radius: 15px;
	height: 230px;
	position: relative;
	background-color: #fbf9f9;

	a {
		color: black;
	}
	.spot-img-container {
		width: 37%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			margin-right: 10px;
		}
	}
	.spot-info-container {
		width: 70%;
		.active {
			color: #fd1015;
			text-shadow: 1px 2px 3px grey;
		}
		.fa-heart {
			position: absolute;
			top: 15px;
			right: 15px;
		}
		.fa-thumbs-up {
			color: rgb(165, 165, 165);
		}
	}
}
hr {
	margin: 0;
	padding: 0;
	width: 750px;
}

.redes-sociales i,
i,
i {
	color: #b1b1b1;
}
.redes-sociales i:hover,
i:hover,
i:hover {
	color: black;
}

.info-card-post {
	display: flex;
	flex-direction: column;
}
